[submodule "RISCVAssembler"]
	path = RISCVAssembler
	url = https://github.com/peihaowang/RISCVAssembler.git
[submodule "LinkerUtilities"]
	path = LinkerUtilities
	url = https://github.com/peihaowang/LinkerUtilities
[submodule "ALU-Regfile"]
	path = ALU-Regfile
	url = https://github.com/peihaowang/ALU-Regfile.git
[submodule "CPU"]
	path = CPU
	url = https://github.com/yuehaowang/CPU
